ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

a{
	color:red;
	font-size:40px;
}

a:hover{
	color:blue;
}

h1{
	font-size:60px;
	text-align:center;
}

/*Positioning Excercise*/
.body5{
	height:4000px;
	background-color:orange;
}

.absolute5{
	width:800px;
	height:400px;
	background-color:red;
	position:absolute;
	top:150px;
	left:150px;
}

.relative5{
	width:200px;
	height:200px;
	background-color:blue;
	position:relative;
	top:150px;
	left:300px;
}

.fixed5{
	width:100px;
	height:100px;
	background-color:yellow;
	position:fixed;
	top:350px;
	left:500px;
}

/*Tennis Court*/

.square1{
		width:100px;
		height:400px;
		background-color:green;
		position:absolute;
		top:0px;
		left:0px;

}

.square2{
		width:580px;
		height:100px;
		background-color:green;
		position:absolute;
		top:0px;
		left:125px;
}

.square3{
		width:100px;
		height:400px;
		background-color:green;
		position:absolute;
		top:0px;
		left:725px;
}

.square4{
		width:280px;
		height:280px;
		background-color:green;
		position:absolute;
		top:120px;
		left:125px;
}

.square5{
		width:280px;
		height:280px;
		background-color:green;
		position:absolute;
		top:120px;
		left:425px;
}

.square6{
		width:100px;
		height:400px;
		background-color:green;
		position:absolute;
		top:425px;
		left:0px;

}

.square7{
		width:280px;
		height:280px;
		background-color:green;
		position:absolute;
		top:425px;
		left:125px;
}

.square8{
		width:280px;
		height:280px;
		background-color:green;
		position:absolute;
		top:425px;
		left:425px;
}

.square9{
		width:580px;
		height:100px;
		background-color:green;
		position:absolute;
		top:725px;
		left:125px;
}

.square10{
		width:100px;
		height:400px;
		background-color:green;
		position:absolute;
		top:425px;
		left:725px;
}